body {
  background-size: cover;
  background-image: url(https://s3.amazonaws.com/shecodesio-production/uploads/files/000/135/150/original/Hourglass2.jpg?1721769956);
  background-size: cover;
  background-repeat: no-repeat;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
}

h1 {
  text-align: center;
  font-size: 42px;
  border-bottom: 24px;
}

h2 {
  margin: 0 0 5px;
  font-size: 30px;
}

.container {
  max-width: 600px;
  margin: 40px auto;
  background: #e0dede;
  padding: 50px;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  border-radius: 10px;
}

select {
  display: block;
  width: 100%;
  border-radius: 4px;
  padding: 10px;
}

.city {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px dashed rgba(0, 0, 0, 0.4);
  margin: 10px 0;
  padding: 30px 0;
}

.city:last-child {
  border: none;
}

.date {
  opacity: 0.6;
}

.time {
  font-weight: bold;
  font-size: 38px;
}

.time small {
  vertical-align: middle;
  font-size: 19px;
}

footer {
  text-align: center;
  font-size: 18px;
  color: rgba(0, 0, 0, 0.9);
  line-height: 6px;
}
